
.division{
    display: inline-block;
    width: 100px; /* Ajusta la longitud de la línea según sea necesario */
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: #333; /* Color de la línea */
}
.container-division{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.container-monthly-fees{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3px;    
}

.product img {
    max-width: 100%;
    height: auto;
}

h3.extra-information-price,.information-model {
    color: #f0981d;
    transition: color 0.3s;
    text-align: center;
    font-weight: bold;    
}

h3.product-brand{
    color: #8f8f8f;
    font-weight: bold; 
}

p.monthly-fees{
    font-weight: bold; 
    color: #8f8f8f;    
}

p.monthly-fees span{
    color: #2a2a2a; 
    margin-right: 2px;   
}

.price-detail{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.price-detail h3{
    margin: 0 0 0 3px;
}

.product-details{
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

