


.producto img {
    max-width: 100%;
    height: auto;
}

.producto h3 {
    text-align: center;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.price-detail{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-details{
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}