<div class="product"> 
    <div class="container-product">
        <img src="assets/images/apple.jpeg" alt="Producto 1">
        <div class="price-detail">
            <h3 class="product-brand">Apple</h3>        
            <h3 class="information-model">iPhone 13 128 GB</h3>
            <h3 class="extra-information-price">$0 down today!</h3> 
            <div class="container-monthly-fees" >
                <p class="monthly-fees">
                    <span>$23.06/mo</span>for 36 months</p>
                <div class="container-division">
                    <span class="division"></span> or <span class="division"></span>
                </div>
            </div>
            <p class="total-price">or $829.99</p>            
            <button type="button" class="product-details" (click)="goDetails()">View Details</button>
        </div>                    
    </div>                
</div>
