
   <app-header></app-header>
   <main>
    <section class="banner">
        <h1>Welcome to Your Online Store</h1>
        <p>Discover our exclusive offers</p>
    </section>
    <section class="products">
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(1)" (mouseleave)="remove_hover_effect(1)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(2)" (mouseleave)="remove_hover_effect(2)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(9)" (mouseleave)="remove_hover_effect(3)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(4)" (mouseleave)="remove_hover_effect(4)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(5)" (mouseleave)="remove_hover_effect(5)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(6)" (mouseleave)="remove_hover_effect(6)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(7)" (mouseleave)="remove_hover_effect(7)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(8)" (mouseleave)="remove_hover_effect(8)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(9)" (mouseleave)="remove_hover_effect(9)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div> 
        <div class="cont-product shadow" (mouseenter)="put_hover_effect(10)" (mouseleave)="remove_hover_effect(10)">
            <app-product-cards [effect]="effect"></app-product-cards>
        </div>          
    </section>   
</main>
<app-footer></app-footer>


