
   <app-header></app-header>
    <main>
        <section class="banner">
            <h1>Bienvenido a Tu Tienda en Línea</h1>
            <p>Descubre nuestras ofertas exclusivas</p>
        </section>
        
        <section class="productos">
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <div class="cont-producto">
                <app-product-cards></app-product-cards>
            </div> 
            <!-- Repite para otros productos -->
        </section>
    </main>
<app-footer></app-footer>


