
/* Contenido principal */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Banner */
.banner {
    text-align: center;
    color: #333;
}

.banner h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
}

/* Productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    margin-top: 20px;
}

.cont-producto {
    box-sizing: border-box;
    width: calc(25%); /* 25% - 20px de espacio entre las columnas */
    margin-bottom: 20px;
    padding: 14px;
}



