
   <app-header></app-header>
   <main>
    <section class="banner">
        <h1>Bienvenido a Tu Tienda en Línea</h1>
        <p>Descubre nuestras ofertas exclusivas</p>
    </section>
   <app-product-cards></app-product-cards>
   <app-product-cards></app-product-cards>
   <app-product-cards></app-product-cards>
   <app-product-cards></app-product-cards>
   <app-product-cards></app-product-cards>
   <app-product-cards></app-product-cards>
   <app-product-cards></app-product-cards>
</main>
<app-footer></app-footer>


