
/* Contenido principal */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Banner */
.banner {
    text-align: center;
    color: #333;
}

.banner h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
}

/* Productos */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    // justify-content: space-around;
    margin-top: 20px;
}

.cont-product {
    border: 3px solid transparent;    
    border-radius: 10px;    
    box-sizing: border-box;
    width: calc(25% - 10px);    
    margin-bottom: 20px;
    padding: 14px;    
    transition: border-color 0.3s;
}

.cont-product:hover{
    border: 3px solid #f0981d;
}

.shadow {
    -webkit-box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.10);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.10);
}

@media screen and (max-width: 559px) {
    .cont-product{
        width: calc(100% - 10px);  
    }   
}

@media screen and (min-width: 560px) and (max-width: 767px) {
    .cont-product{
        width: calc(50% - 10px);  
    }    
}
  
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cont-product{
        width: calc(33.3% - 10px);  
    }     
}
 
  
  
  
  
  



